@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #475569;
    background-image: radial-gradient(whitesmoke, #475569);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}